include LICENSE
include HISTORY.rst
include README.rst
include tox.ini
include test_pystache_custom.py
# You cannot use package_data, for example, to include data files in a
# source distribution when using Distribute.
recursive-include pystache_custom/tests *.mustache *.txt
