@media screen and (max-width: 1099px) and (min-width: 768px) {
	.index #index_kc_list {
	width: 90% !important
}
.index_kc_list ol li>a {
	display: none
}
.index_kc_list ol li strong a {
	display: block
}
.index_kc_list ol:after,.index_kc_list ol:before {
	content: '';
	display: block
}
.index_kc_list ol:after {
	clear: both
}
.index_kc_list ol li {
	width: 33.333333333333333333333%;
	float: left;
	padding: 0;
	text-align: center
}
.index_kc_list ol li:after,.index_kc_list ol li:before {
	content: '';
	display: block
}
.index_kc_list ol li:after {
	clear: both
}
.index_kc_list ol li strong {
	padding: 0
}
.index_kc_list>ul {
	width: 100%
}
.index_kc_list>ul>li {
	width: 49%;
	margin: 0 0 15px 0;
	height: auto
}
.index_kc_list>ul>li:nth-of-type(odd) {
	margin-right: 2%
}
.index_kc_list>ul>li>p {
	position: absolute;
	right: 5%;
	top: 30px
}
.index_kc_list>ul>li>p a {
	display: inline;
	background: none;
	border: none;
	color: rgba(255,255,255,0.5)
}
.index_kc_list>ul>li>p i {
	display: none
}
.index_kc_list .title {
	width: 100%;
	height: 110px;
	padding: 0;
	text-align: left
}
.index_kc_list .title a {
	display: block;
	width: 100%;
	height: 90px;
	padding-top: 20px
}
.index_kc_list .title a i {
	display: inline-block;
	width: 74px;
	height: 70px;
	vertical-align: middle;
	margin: 0;
	margin-left: 8%
}
.index_kc_list .title a i img {
	display: block
}
.index_kc_list .title a p {
	display: inline-block;
	font-size: 2.2em;
	font-weight: 100;
	margin-left: 15px;
	vertical-align: middle
}
.index_kc_list .more .list {
	height: 40px;
	overflow: hidden;
	padding: 5px 20px 5px;
	margin: 0
}
.index_kc_list>ul>li:hover {
	-webkit-transform: translate(0);
	transform: translate(0)
}
.index #new-courses {
	width: 90% !important
}
/*
.new-courses .scroll_courses_wrap {
	width: 100%
}
.new-courses ul {
	width: 33.33333333333333333333%;
	height: 584px
}
.new-courses .scroll_courses {
	width: 300%
}

.new-courses ul li {
	width: 32%;
	margin: 0 0 30px 0
}

.new-courses ul li .normal {
	position: static;
	width: 100%
}
.new-courses ul li .normal h3,.new-courses ul li .normal img {
	width: 100%
}
.new-courses ul li a: hover .normal {
	-webkit-transform: rotateY(0);
	-moz-transform: rotateY(0);
	-ms-transform: rotateY(0);
	-o-transform: rotateY(0);
	transform: rotateY(0);
	opacity: 1
}
.new-courses ul li a: hover .staff {
	opacity: 0;
	-webkit-transform: rotateY(-180deg);
	-moz-transform: rotateY(-180deg);
	-ms-transform: rotateY(-180deg);
	-o-transform: rotateY(-180deg);
	transform: rotateY(-180deg)
}*/
.index .new_schools .hot {
	width: 90%;
	float: none;
	margin: 0 auto
}
.index .new_schools .hot .earth {
	width: 70%
}
.index .new_schools .hot .detail {
	width: 30%
}
.index .new_schools .hot .detail p {
	width: 100%;
	position: absolute;
	bottom: 50px;
	left: 0
}
.index .new_schools .hot .detail p a {
	width: 165px
}
.index .new_schools h2 {
	padding-left: 5%
}
.new_schools .school_list {
	padding: 0;
	margin: 0 auto;
	width: 90%;
	margin-top: 20px;
	float: none;
	overflow: hidden
}
.new_schools .school_list li {
	width: 16.666666666666666666666666666667%;
	border: none
}
.new_schools .school_list li:last-of-type,.new_schools .school_list li:nth-last-child(2) {
	display: none
}
.new_schools .school_list li a .school_list_txt {
	display: none
}
.new_schools .school_list li a:hover .school_list_img {
	-webkit-transform: rotateY(0);
	-ms-transform: rotateY(0);
	transform: rotateY(0);
	-o-transform: rotateY(0);
	-moz-transform: rotateY(0);
	-webkit-transition: -webkit-transform .1s ease-in;
	-moz-transition: -moz-transform .1s ease-in;
	-o-transition: -o-transform .1s ease-in;
	-ms-transition: -ms-transform .1s ease-in;
	transition: transform .1s ease-in
}
.new_schools .school_list li.br {
	border-right: none
}
.new_schools .school_list li img {
	max-width: 100%
}
.new_schools .school_list li a .school_list_img {
	border-right: 1px solid #3678a1;
	border-bottom: 1px solid #3678a1;
	position: static;
	width: 100%;
	height: 100%
}
.new_schools .school_list>p,.new_schools .school_list>ul {
	width: 100%
}
.search_page article {
	padding: 0 0 50px 0
}
.search_page article section {
	width: 90%;
	margin: 0 auto
}
.search_page .search_web {
	width: 100%
}
.search_page .search_web .win {
	width: 100%
}
.search_page .search_web .left {
	width: 75%
}
.search_page .search_web .left .search {
	width: auto;
	padding-left: 50px
}
.search_page .search_web .right {
	width: 25%;
	padding: 0;
	text-align: center
}
.list_style .img {
	width: 30%
}
.list_style .img img {
	width: 100%
}
.list_style .center {
	width: 46%;
	padding: 15px 2% 0
}
.list_style .center .name {
	display: inline-block;
	max-width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap
}
.list_style .center h3 {
	padding: 10px 0 10px 0
}
.list_style .right,.list_style .right_edx {
	width: 20%;
	padding-left: 0;
	padding-right: 0
}
.list_style .right_edx {
	background-position: 50% 50%;
	text-align: center
}
.list_style .right_edx p {
	width: 100%;
	top: 120px;
	left: 0
}
.ke_mu #nav {
	width: 100%
}
.ke_mu .banner .logo1 {
	display: none
}
.ke_mu .banner .txt {
	position: static;
	margin: 0 auto;
	padding-top: 50px;
	width: 90%
}
.ke_mu article section {
	width: 90%;
	margin: 0 auto
}
.ke_mu article nav li {
	width: 25%
}
.ke_mu article nav li:before {
	display: none
}
.about_us article .wrap>div {
	width: 90%;
	margin: 0 auto
}
.about_us article .wrap {
	margin: 10px 0 0 0
}
.about_us #a_nav {
	padding: 0 0 20px 0;
	width: 100%
}
.about_us #a_nav li {
	width: 21%;
	margin: 0 2%;
	float: left;
	border: none
}
.about_us #a_nav li a {
	width: 100%
}
/*
.school_list_page .img {
	position: static !important;
	width: 100% !important;
	height: auto !important
}
.school_list_page .img img {
	width: 100% !important;
	height: auto !important
}*/
.school_list_page .hz_school>h2 {
	padding-left: 5%
}
.school_list_page .hz_school>ul {
	width: auto;
	border: none
}
.school_list_page .hz_school>ul li {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border-top: 1px solid #ccc;
	border-left: 1px solid #ccc;
	width: 20%;
	margin: 10px 0 0 4%
}
.school_list_page .hz_school>ul li a {
	width: auto !important;
	height: auto !important
}
.school_list_page .hz_school>ul li:hover .img {
	-webkit-transform: rotateY(0);
	-moz-transform: rotateY(0);
	-ms-transform: rotateY(0);
	-o-transform: rotateY(0);
	transform: rotateY(0)
}
.school_list_page .text_con {
	display: none
}
.school_list_page #banner {
	min-width: 100%
}
.course_detail .video .left {
	float: none;
	margin: 0 auto
}
.course_detail .video .right {
	float: none;
	margin: 20px auto;
	width: 500px
}
.course_detail .apply .chart_tip {
	width: 100%;
	padding: 0;
	float: none
}
.course_detail .apply h2 {
	width: 95%;
	padding-left: 5%
}
.course_detail .apply .edx_img {
	width: 100%;
	padding: 0
}
.course_detail .apply .chart {
	float: none;
	margin: 0 auto
}
.course_detail .apply .count {
	width: 50%;
	text-align: center;
	padding: 0
}
.course_detail .apply .apply_btn {
	width: 50%;
	text-align: center
}
.course_detail article.wrap {
	width: 90% !important;
	margin: 0 auto
}
.course_detail article .wrap {
	width: 90% !important;
	margin: 0 auto
}
.course_detail article .right {
	width: 30%
}
.course_detail article .right ul li>div>div {
	float: none;
	overflow: hidden;
	padding: 0 0 0 10px
}
.course_detail article .right ul li>div>div p {
	display: inline-block;
	max-width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	display: block
}
.course_detail article .left {
	width: 68%;
	margin-right: 2%
}
}@media screen and (max-width: 767px) {
	.index_title h2 {
	background: url("/static/images/index_mooc_mobile.7802df2ea051.png") no-repeat;
	width: 188px;
	height: 101px
}
.index_title p {
	padding: 0 5%
}
.index_kc_list>ul {
	width: 100%
}
.index_kc_list>ul>li {
	float: none;
	width: 100%;
	height: 60px;
	overflow: hidden
}
.index_kc_list>ul>li:after,.index_kc_list>ul>li:before {
	content: '';
	display: block
}
.index_kc_list>ul>li:after {
	clear: both
}
.index_kc_list .title {
	float: left;
	width: 70%;
	height: 60px;
	padding: 0;
	text-align: left;
	position: static
}
.index_kc_list ol {
	float: left;
	width: 30%
}
.index_kc_list ol:after,.index_kc_list ol:before {
	content: '';
	display: block
}
.index_kc_list ol:after {
	clear: both
}
.index_kc_list ol li {
	float: left;
	height: 60px;
	width: 33.3333333333333333333333%;
	padding: 0
}
.index_kc_list .title i {
	width: 40px;
	height: 40px;
	position: absolute;
	right: 10%;
	top: 10px
}
.index_kc_list ol strong,.index_kc_list ol a {
	display: none !important
}
.index_kc_list>ul>li>p {
	position: absolute;
	right: 33%;
	top: 20px
}
.index_kc_list>ul>li>p a {
	display: inline;
	background: none;
	border: none;
	color: rgba(255,255,255,0.5)
}
.index_kc_list .title .title_a {
	display: block
}
.index_kc_list .title .title_a p {
	height: 60px;
	line-height: 60px;
	padding-left: 5%;
	font-size: 1.8em;
	font-weight: 100;
	color: rgba(255,255,255,0.5)
}
.index_kc_list>ul>li>p i {
	display: none
}
.index_kc_list>ul>li:hover {
	-webkit-transform: translate(0);
	transform: translate(0)
}
.index_kc_list .more .list {
	display: none
}
.staff {
	display: none
}
.new-courses h2 {
	height: 80px;
	line-height: 80px
}
.new-courses h2>div {
	display: none
}
.new-courses h2>ol {
	width: 100%;
	float: none;
	text-align: center
}
.new-courses h2>ol li {
	float: none;
	display: inline-block;
	width: 33.333333333333333%;
	height: 80px;
	margin: 0
}
.new-courses ul li a .normal {
	position: static
}
.new-courses ul li a .normal:after {
	content: "";
	display: table;
	clear: both
}
.new-courses ul li a .normal img {
	float: left;
	width: 108px;
	height: 76px
}
.new-courses ul li a:hover .normal {
	-webkit-transform: rotateY(0);
	-ms-transform: rotateY(0);
	transform: rotateY(0);
	-o-transform: rotateY(0);
	-moz-transform: rotateY(0);
	opacity: 1
}
.new-courses .scroll_courses_wrap {
	width: 90%;
	margin: 0 auto;
	height: 736px
}
.new-courses ul {
	width: 33.3333333333333%
}
.new-courses ul li {
	float: none;
	margin: 0 0 15px;
	height: auto;
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding-left: 2px
}
.new-courses ul li .normal h3 {
	padding-left: 1em;
	height: auto;
	width: auto;
	line-height: 30px;
	white-space: nowrap;
	line-height: 20px;
	margin-bottom: 10px;
	overflow: hidden
}
.new-courses ul li .normal p {
	overflow: hidden;
	padding-left: 1em
}
.new-courses ul li .normal p span {
	padding-right: 10px;
	display: inline-block
}
.new-courses .scroll_courses {
	height: auto;
	width: 300%
}
.new_schools .school_list {
	float: none;
	margin: 20px auto 0;
	width: 90%
}
.new_schools .school_list li {
	width: 50%;
	border: none
}
.new_schools .school_list li a:hover .school_list_img {
	-webkit-transform: rotateY(0);
	-ms-transform: rotateY(0);
	transform: rotateY(0);
	-o-transform: rotateY(0);
	-moz-transform: rotateY(0);
	-webkit-transition: -webkit-transform .1s ease-in;
	-moz-transition: -moz-transform .1s ease-in;
	-o-transition: -o-transform .1s ease-in;
	-ms-transition: -ms-transform .1s ease-in;
	transition: transform .1s ease-in
}
.new_schools .school_list li a .school_list_txt {
	display: none
}
.new_schools .school_list li:last-of-type,.new_schools .school_list li:nth-last-child(2) {
	display: none
}
.new_schools .school_list li a .school_list_img {
	position: static;
	width: 100%;
	border-bottom: 1px solid #3678a1;
	border-right: 1px solid #3678a1
}
.new_schools .school_list li:nth-of-type(even) a .school_list_img {
	border-right: none
}
.new_schools .school_list>p {
	width: 100%
}
.new_schools h2 {
	padding: 0;
	text-align: center
}
.index .new_schools .hot {
	width: 100%;
	float: none;
	margin: 0 auto
}
.new_schools .hot .earth {
	float: none;
	width: 90%;
	margin: 0 auto;
	height: auto
}
.new_schools .hot .earth img {
	max-width: 100%
}
.new_schools .hot .detail {
	float: none;
	width: 90%;
	height: auto;
	margin: 0 auto
}
.new_schools .hot .detail:after,.new_schools .hot .detail img {
	display: none
}
.new_schools .hot .detail p {
	padding: 10px 0;
	position: static
}
.start_learning h2 {
	width: 90%;
	padding: 0 5%
}
.start_learning a {
	width: 70%
}
.search_page article {
	padding: 0 0 30px 0
}
.search_page .search_wrap {
	margin-bottom: 10px
}
.search_page .search_web {
	width: 100%
}
.search_page .search_web .win {
	width: 100%
}
.search_page .search_web .win .czly a {
	margin: 5px 0
}
.search_page .search_web .left {
	width: 100%
}
.search_page .search_web .left .search {
	width: auto;
	padding-left: 50px
}
.search_page .search_web .right {
	display: none
}
.list_style li {
	width: 100%;
	position: relative;
	margin-bottom: 10px
}
.list_style .cover {
	display: none
}
.list_style .img {
	position: absolute;
	left: 0;
	top: 0;
	float: none;
	width: 100px;
	height: 70px
}
.list_style .img img {
	width: 100%;
	height: 100%
}
.list_style .center {
	float: none;
	height: 70px;
	padding: 0 0 0 110px;
	width: auto
}
.list_style .center h3 {
	display: inline-block;
	max-width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	padding: 10px 0 0 0
}
.list_style .center p {
	display: inline-block;
	max-width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	padding-top: 5px
}
.list_style .center .txt {
	display: none
}
.list_style .right,.list_style .right_edx {
	display: none
}
.ke_mu #nav {
	width: 100%
}
.ke_mu .banner .logo1 {
	display: none
}
.ke_mu .banner .txt {
	position: static;
	margin: 0 auto;
	padding-top: 50px;
	width: 90%;
	max-height: 195px;
	overflow: hidden
}
.ke_mu article nav li {
	width: 25%
}
.ke_mu article nav li span {
	display: none
}
.ke_mu article nav li:before {
	display: none
}
.about_us article .wrap>div {
	width: 90%;
	margin: 0 auto;
	padding: 0;
	float: none
}
.about_us article .wrap {
	margin: 10px 0 0 0
}
.about_us #a_nav {
	padding: 0;
	width: 100%;
	padding: 0 0 50px 0
}
.about_us #a_nav li {
	width: 100%;
	float: none;
	padding: 0;
	margin: 0
}
.about_us #a_nav li a {
	width: 100%
}
.school_list_page .text_con {
	display: none
}
.school_list_page .img {
	position: static !important;
	width: 100% !important;
	height: auto !important
}
.school_list_page .img img {
	width: 100% !important;
	height: auto !important
}
.school_list_page .hz_school>h2 {
	padding-left: 5%
}
.school_list_page .hz_school>ul {
	width: auto;
	border: none
}
.school_list_page .hz_school>ul li {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border-top: 1px solid #ccc;
	border-left: 1px solid #ccc;
	width: 40%;
	margin: 5% 0 0 5%
}
.school_list_page .hz_school>ul li a {
	width: auto !important;
	height: auto !important
}
.school_list_page .hz_school>ul li:hover .img {
	-webkit-transform: rotateY(0);
	-moz-transform: rotateY(0);
	-ms-transform: rotateY(0);
	-o-transform: rotateY(0);
	transform: rotateY(0)
}
.school_list_page #banner {
	display: none
}
.course_detail .video .left {
	float: none;
	width: auto;
	height: auto;
	margin: 0 auto;
	max-width: 540px
}
.course_detail .video .left #alert_video {
	width: 100%;
	height: 100%
}
.course_detail .video .left img {
	width: 100%;
	height: auto;
	position: static
}
.course_detail .video .left .cover {
	display: none
}
.course_detail .video .left .ctrl {
	width: 100%
}
.course_detail .video .left .ctrl .name {
	width: 85%
}
.course_detail .video .left .ctrl .ctrl_btn {
	width: 14.5%;
	margin-left: 0.5%
}
.course_detail .video .right {
	float: none;
	width: 90%;
	margin: 0 auto;
	max-width: 520px;
	height: auto;
	padding: 10px 5%
}
.course_detail .video .right h2 {
	width: 100%
}
.course_detail .video .right .name h3,.course_detail .video .right .name p {
	width: auto !important
}
.course_detail .video .right .name {
	float: none;
	overflow: hidden
}
.course_detail .apply h2 {
	width: 95%;
	padding-left: 5%
}
.course_detail .apply .chart_tip {
	width: 100%;
	padding: 0;
	float: none
}
.course_detail .apply .edx_img {
	width: 100%;
	padding: 0
}
.course_detail .apply .chart {
	display: none
}
.course_detail .apply .count {
	float: none;
	width: 100%;
	text-align: center;
	padding: 0
}
.course_detail .apply .apply_btn {
	float: none;
	text-align: center
}
.course_detail article .right {
	display: none
}
.course_detail article .left {
	width: 90%;
	float: none;
	margin: 0 auto
}
}
