@import 'bourbon/bourbon';
@import 'bourbon/addons/button';
@import 'assets/anims';
.xmodule_edit.xmodule_ImageAnnotationDescriptor {
  @import "000-3d2f9902e9ecf2dac554cd9b9e661a89.scss";
}
.xmodule_edit.xmodule_StaticTabDescriptor {
  @import "001-ddaa9dc0d136498f9cc87bf6fde9c1f2.scss";
  @import "000-ab4f010df73ad0cbf6452d219d3fb438.scss";
}
.xmodule_edit.xmodule_VideoAnnotationDescriptor {
  @import "000-3d2f9902e9ecf2dac554cd9b9e661a89.scss";
}
.xmodule_edit.xmodule_TextAnnotationDescriptor {
  @import "000-3d2f9902e9ecf2dac554cd9b9e661a89.scss";
}
.xmodule_edit.xmodule_CombinedOpenEndedDescriptor {
  @import "000-ab4f010df73ad0cbf6452d219d3fb438.scss";
  @import "001-4a76b6872c6279e254a6a54413177d9c.scss";
}
.xmodule_edit.xmodule_DiscussionDescriptor {
  @import "000-3d2f9902e9ecf2dac554cd9b9e661a89.scss";
}
.xmodule_edit.xmodule_CapaDescriptor {
  @import "001-b44908357d29d44173a92a8a5f54d7bf.scss";
  @import "000-ab4f010df73ad0cbf6452d219d3fb438.scss";
}
.xmodule_edit.xmodule_ABTestDescriptor {
  @import "000-3d2f9902e9ecf2dac554cd9b9e661a89.scss";
}
.xmodule_edit.xmodule_LTIDescriptor {
  @import "000-3d2f9902e9ecf2dac554cd9b9e661a89.scss";
}
.xmodule_edit.xmodule_RawDescriptor {
  @import "000-3d2f9902e9ecf2dac554cd9b9e661a89.scss";
}
.xmodule_edit.xmodule_AnnotatableDescriptor {
  @import "000-3d2f9902e9ecf2dac554cd9b9e661a89.scss";
}
.xmodule_edit.xmodule_VideoDescriptor {
  @import "000-a27fd84d8bf63b1b53362623d5e9d64f.scss";
}
.xmodule_edit.xmodule_HiddenDescriptor {
  @import "000-3d2f9902e9ecf2dac554cd9b9e661a89.scss";
}
.xmodule_edit.xmodule_GraphicalSliderToolDescriptor {
  @import "000-3d2f9902e9ecf2dac554cd9b9e661a89.scss";
}
.xmodule_edit.xmodule_CourseInfoDescriptor {
  @import "001-ddaa9dc0d136498f9cc87bf6fde9c1f2.scss";
  @import "000-ab4f010df73ad0cbf6452d219d3fb438.scss";
}
.xmodule_edit.xmodule_CrowdsourceHinterDescriptor {
  @import "000-3d2f9902e9ecf2dac554cd9b9e661a89.scss";
}
.xmodule_edit.xmodule_AboutDescriptor {
  @import "001-ddaa9dc0d136498f9cc87bf6fde9c1f2.scss";
  @import "000-ab4f010df73ad0cbf6452d219d3fb438.scss";
}
.xmodule_edit.xmodule_PeerGradingDescriptor {
  @import "000-3d2f9902e9ecf2dac554cd9b9e661a89.scss";
}
.xmodule_edit.xmodule_HtmlDescriptor {
  @import "001-ddaa9dc0d136498f9cc87bf6fde9c1f2.scss";
  @import "000-ab4f010df73ad0cbf6452d219d3fb438.scss";
}
.xmodule_edit.xmodule_CustomTagDescriptor {
  @import "000-3d2f9902e9ecf2dac554cd9b9e661a89.scss";
}