<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
<link rel="stylesheet" type="text/css" href="./static/sass/index.css">
<link rel="stylesheet" type="text/css" href="./static/sass/reset.css">
<link rel="stylesheet" type="text/css" href="./static/sass/media.css">
<link rel="stylesheet" type="text/css" href="./static/sass/8.css">
<link rel="stylesheet" type="text/css" href="./static/sass/2.css">
<link rel="stylesheet" type="text/css" href="./static/sass/boot.css"/>
</head>
<%! from django.utils.translation import ugettext as _ %>

<%! from django.core.urlresolvers import reverse %>
<%inherit file="main.html" />
<%namespace name='static' file='static_content.html'/>

<%! from microsite_configuration import microsite %>
<%! from courseware.courses import course_image_url, get_course_about_section%>
<%! from courseware.category import get_primary_course, get_Intermediate_course, get_senior_course, get_introduce_course%>
<%
  homepage_overlay_html = microsite.get_value('homepage_overlay_html')

  show_homepage_promo_video = microsite.get_value('show_homepage_promo_video', True)
  homepage_promo_video_youtube_id = microsite.get_value('homepage_promo_video_youtube_id', "XNaiOGxWeto")

  show_partners = microsite.get_value('show_partners', True)
  kindlist=[]
  dict = {}
  primary = []

  for course in courses:
        primary.append(course)
        if course.get_course_kinds !="" :
             if course.get_course_kinds not in kindlist:
                  kindlist.append(course.get_course_kinds)

  list = get_introduce_course(courses)
%>

<section class="home">

  <section>
    <br><br>
    <div style="" class="container">
         <h1 style="font-size: 40px;font-family: '微软雅黑';">XD-MOOC 推荐</h1>
         <p style="text-align: center"><font font-size="5px">从推荐课程里选择你感兴趣到课程，赶快加入吧!</font> </p>
         <br><br>
        %for course in list:
        <div class="col-sm-4 col-lg-3">
            <div class="playlists-header__feature">
                 <div class="media media--oh-v media--xs-h media--sm-v">
                     <a class="media__image playlists-header__feature__image" href="${reverse('about_course', args=[course.id.to_deprecated_string()])}">
                        <img src="${course_image_url(course)}">
                        <div class="playlists-header__feature__image__overlay"></div>
                        <div class="playlists-header__feature__image__title">
                        <div class="playlists-header__feature__image__title__count">${course.display_number_with_default}</div>
                        <div class="h6 playlists-header__feature__image__title__name">${course.display_name_with_default}</div>
                        </div>
                    </a>
            <div class="media__message">
             <div class="meta">
            Curated by
            <span class="meta__val">${get_course_about_section(course, 'university')}</span>
             </div>
             <div class="playlists-header__feature__description">

             </div>
        </div>
        </div>
    </div>
  </div>
  %endfor
  </div>
  </section>

  <section>
      <br><br>
      <h1 style="font-size: 40px;font-family: '微软雅黑';text-align: center">XD-MOOC 学以致用</h1>
      <p style="text-align: center"><font font-size="5px">免费学习最好的课程！选择感兴趣的领域，加入课堂，开始学习吧！</font> </p>
      <br><br>
  </section>

  <%
     foo = ["cloud", 'data', 'venture', 'more']
     from random import choice

  %>

  <div>
  <section  class="wrap index_kc_list" id="index_kc_list">

    <ul class="cf">
    %for kinds in kindlist:
        <% index = choice(foo)%>

	<li class="${index}">
		<div class="title">
		<a class="title_a" href="${reverse('about_kinds', args=[kinds])}" title="" target="_blank"><i><img src="${static.url('images/index_cloud.png')}"></i><p>${kinds}</p></a>
		</div>
		<ol>
             <li>
             <strong>初级</strong>
              <%  plist = get_primary_course(courses,kinds) %>
              %for course in plist:
		           <a href="${reverse('about_course', args=[course.id.to_deprecated_string()])}" title="" target="_blank">${course.display_name_with_default}</a>
              %endfor
             </li>
             <li>
             <strong>中级</strong>
              <%  mlist = get_Intermediate_course(courses,kinds) %>
              %for course in mlist:
		       <a href="${reverse('about_course', args=[course.id.to_deprecated_string()])}" title="" target="_blank">${course.display_name_with_default}</a>
              %endfor
                </li>
                    <li>
                    <strong>高级</strong>
               <%  slist = get_senior_course(courses,kinds) %>
              %for course in slist:
		            <a href="${reverse('about_course', args=[course.id.to_deprecated_string()])}" title="" target="_blank">${course.display_name_with_default}</a>
              %endfor
                    </li>

		</ol>
        <% total = len(plist) + len(slist) + len(mlist) %>
		<p><a href="" title="" target="_blank">${total}门课程<i></i></a></p>
        <div class="index_alert cf">
	    <img class="fl" src="" alt="" title="">
	    <div class="fl"></div></div></li>
     %endfor
	</ul>

</section>
      <br><br><br>
</div>

  <h1 style="font-size: 40px;font-family: '微软雅黑';">XD-MOOC 课程列表</h1>
    <p style="text-align: center"><font font-size="5px">在这里你可以找到任何你想学习到云课程，实现你到云梦想，赶快加入吧！</font> </p>
  <section class="container">
    <!-- <div class="col-sm-4 col-lg-3 col-xs-3">-->
    <section class="highlighted-courses">

      % if settings.FEATURES.get('COURSES_ARE_BROWSABLE'):
        <section class="courses">
            <ul class="courses-listing">
            %if len(courses)<9:
                %for course in courses:
                  <li class="courses-listing-item">
                    <%include file="course_home.html" args="course=course" />
                  </li>
                %endfor
            %else:
                <%courses_s=courses[0:9]%>

                %for course in courses_s:

                  <li class="courses-listing-item">
                    <%include file="course_home.html" args="course=course" />
                  </li>


                %endfor
             %endif
            </ul>
        </section>
      % endif

    </section>

</section>

<section id="video-modal" class="modal home-page-video-modal video-modal">
  <div class="inner-wrapper">
    <%
      youtube_video_id = homepage_promo_video_youtube_id
      if self.stanford_theme_enabled():
        youtube_video_id = "2gmreZObCY4"
    %>
    <iframe width="640" height="360" src="//www.youtube.com/embed/${youtube_video_id}?showinfo=0" frameborder="0" allowfullscreen></iframe>
  </div>
</section>

<%block name="js_extra">
   <script type="text/javascript">
      $(window).load(function() {
         if(getParameterByName('next')) {
              $('#login').trigger("click");
         }
      })
   </script>
</%block>

% if show_signup_immediately is not UNDEFINED:
  ## NOTE: This won't work in production, because anonymous views are cached, so it will
  ## show either with or without this extra js for 3 minutes at a time.
<script type="text/javascript">
  $(window).load(function() {$('#signup_action').trigger("click");});
</script>
% endif



</html>